@tailwind base;
@tailwind components;
@tailwind utilities;

.quote-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  .quote {
    color: yellow;
    text-align: center;
  }
  

.drawer-side a.active{
    color: yellow;
    

}
.drawer-side a{
    color: white;
    background-color: transparent;
}

.dark {
    background-image: linear-gradient(to bottom, rgb(15, 15, 15), rgb(0, 0, 0));
    color: white;
  }
  